@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-900;
  }
}

/* Print Styles */
@media print {
  body {
    @apply bg-white;
  }

  header,
  .no-print {
    display: none !important;
  }

  #cv-preview {
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
  }
}

/* Smooth Transitions */
@layer utilities {
  .smooth-transition {
    transition: all 0.2s ease-in-out;
  }
}
